<article class="tease tease--{{post.post_type}}" id="tease--{{post.ID}}">
	{% block content %}
		<a href="{{post.link}}" class="anchor--default" title="{{post.title}}">
			{% if post.imagem %}
				{{ fn( 'set_image', post.imagem ) }}
			{% endif %}			
			<h2 class="tease--title">
				<span class="tease--headline">{{ post.category }}</span>
				{{post.title}}
			</h2>			
			{% if post.chamada %}
				<p class="tease--chamada">{{ post.chamada }}</p>
			{% endif %}			
		</a>
	{% endblock %}
</article>